$color-primary-text: #43425d;
$color-primary-grey: #d6d6d6;
$color-primary-blue: #3b86ff;
$color-light-grey: #eaf0f4;
$color-platinum: #a3a6b4;
$color-red: #ff5f5f;
$color-purple-grey: #6a6996;
$color-purple: #a3a0fb;

:root {
  --fc-border-color: #eaf0f4;
  --fc-button-bg-color: #ffffff;
  --fc-button-text-color: #4d4f5c;
  --fc-button-border-color: #d7dae2;
  --fc-button-hover-bg-color: #ffffff;
  --fc-button-active-bg-color: #ffffff;
  --fc-button-active-border-color: #d7dae2;
  --fc-button-hover-border-color: #d7dae2;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Source Sans Pro, sans-serif;
  color: $color-primary-text;
}

.main {
  background-color: #f0f0f7;
  padding: 32px 75px 100px 95px;
}

.layout {
  display: flex;
  > div {
    flex: 1;
  }
}

.sidebar {
  background-color: $color-primary-text;
  width: 260px;
  .nav__home {
    background-color: #3c3a53;
    padding: 25px 20px;
  }
}

.nav-list {
  margin: 0;
  padding: 0;

  > li {
    padding: 16px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 11px;
    position: relative;

    &.active {
      background-color: #3c3a54;

      svg {
        path {
          fill: $color-purple;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 5px;
        background-color: $color-purple;
      }
    }
  }
}

.title {
  color: 28px;
  font-weight: normal;
  margin-bottom: 32px;
}

.vertical-devider {
  height: 28px;
  width: 1px;
  background-color: #ebebf2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  font-size: 13px;
  color: #4d4f5c;

  &__menu {
    display: flex;
    align-items: center;
    gap: 20px;

    > button {
      background-color: transparent;
      border: none;
      padding: 0 5px;
    }
  }
  &__profile {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .avatar {
    width: 38px;
    height: 38px;
  }
}
.search-input {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
  > input {
    border: none;
    outline: none;
    width: 100%;
  }
}

.event {
  width: 100%;
  padding: 7px 14px;
  border-radius: 4px;
  font-size: 13px;
  color: white;
}

.event_form {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #00000029;
  border: 1px solid #43425d;
  border-radius: 10px;
  padding: 32px 26px 25px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transform: translate(-50%);
  font-size: 9px;

  &__triangle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0;
    border-bottom: solid 10px #43425d;
    border-right: solid 6px transparent;
    border-left: solid 6px transparent;
    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: -5px;
      width: 0;
      border-bottom: solid 10px white;
      border-right: solid 6px transparent;
      border-left: solid 6px transparent;
    }
  }
  &__close {
    position: absolute;
    top: 6px;
    right: 7px;
    width: 20px;
    height: 20px;
    border: solid 3px $color-primary-grey;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-primary-grey;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    rotate: 45deg;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
  }

  &__save-btn,
  &__cancel-btn {
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-family: inherit;
  }
  &__save-btn {
    color: $color-purple-grey;
  }
  &__cancel-btn {
    color: $color-red;
  }

  &__text-input,
  &__select {
    min-width: 148px;
    border: none;
    outline: none;
    border-bottom: solid 1px $color-primary-grey;
    padding-bottom: 7px;
    color: $color-primary-text;
    font-size: 9px;
    font-family: inherit;
  }
  &__text-input {
    &::placeholder {
      color: $color-primary-grey;
    }
  }
  &__text-input.notes {
    color: $color-primary-grey;
    font-style: italic;
  }
  &__checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2px;
  }
}

.input-container {
  position: relative;
  input {
    background-color: transparent;
  }
  img {
    position: absolute;
    right: 5px;
    width: 14px;
    height: 16px;
    z-index: -1;
    background-size: contain;
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  background: none;
}
input[type='date']::-webkit-calendar-picker-indicator {
  background: none;
}

.fc-col-header-cell {
  background: $color-light-grey;
  color: $color-platinum;
  font-size: 11px;
  padding: 15px !important;
  text-transform: uppercase;
}

.fc .fc-toolbar-title {
  font-size: 18px;
  color: #4d4f5c;
  font-weight: normal;
}

.fc .fc-button-primary {
  text-transform: capitalize;
  box-shadow: none !important;
  padding: 8px 18px;
}

.fc .fc-button-group > .fc-button.fc-button-active,
.fc .fc-button-primary:disabled {
  color: $color-primary-blue;
}
.fc-media-screen {
  background-color: #fff;
  padding: 20px 20px 35px;
}
